<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509267663234-nqff2qvoqjavu0n07586qmf92gvdqft0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509267663234-nqff2qvoqjavu0n07586qmf92gvdqft0</string>
	<key>API_KEY</key>
	<string>AIzaSyAOrKcMsP_DtBgAtRmyutx0-sKx9oxfXJE</string>
	<key>GCM_SENDER_ID</key>
	<string>509267663234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Helaka.Testing</string>
	<key>PROJECT_ID</key>
	<string>ios-hbo-859bd</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-hbo-859bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509267663234:ios:266f4d025cb8332923179b</string>
	<key>DATABASE_URL</key>
	<string>https://ios-hbo-859bd.firebaseio.com</string>
</dict>
</plist>