<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99973956560-l75v6v0ljugkrkr2eo5gsaqh46lodnlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99973956560-l75v6v0ljugkrkr2eo5gsaqh46lodnlr</string>
	<key>API_KEY</key>
	<string>AIzaSyDSkZnex3jzFzEdwnqp8V7CIiy5bHn9Iw4</string>
	<key>GCM_SENDER_ID</key>
	<string>99973956560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helaka-Helaka-Cobscomp182p-015</string>
	<key>PROJECT_ID</key>
	<string>event-app-93d34</string>
	<key>STORAGE_BUCKET</key>
	<string>event-app-93d34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99973956560:ios:eb963583a76a1fd980efd5</string>
	<key>DATABASE_URL</key>
	<string>https://event-app-93d34.firebaseio.com</string>
</dict>
</plist>